.screen-container {
    width: calc(100% - 100px);
    height: 100%;
    background-color: #1E2A3E;
    border-radius: 30px;
    background-color: #1A2E3A;
    opacity: 1;
    background-image:  repeating-radial-gradient(
        circle at center left,
        transparent 0,
        #1A2E3A 100px
        ),
        repeating-linear-gradient( #23365655, #233656 );
}

.flex {
    display: flex;
}
